# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables (VERY IMPORTANT)
.env

# Streamlit secrets (local)
.streamlit/secrets.toml

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log